{% extends "main/header.html" %}

{% block content %}
{% if ideas %}

{% for i in ideas %}

<p>User :{{ i.peacher }}</p>
<p> {{i.date_created}} </p>

{% for c in i.category.all %}
    {{c.category}}

    <p>{{i.Post_idea}}</p>

    <div>
        Comments:<br>
        {% for com in comments %}
        {% ifequal i.id com.on_post.id %}
        <p>{{com.byUser}}: {{com.comment}}</p>

        {% endifequal %}
        {% endfor %}
        <br>
        <form method="POST" action="{% url 'ideapeacher:comment' i.pk %}">
            {% csrf_token %}
            <textarea class="form-control" aria-label="with textarea" name="comment" placeholder="comment here"></textarea>
            <button type="submit" id="submitbtn" class="btn">Comment</button>
        </form>
    </div>
{% endfor %}

{% endfor %}

{% endif %}
{% endblock %}